<div class="about dyanmic-margin-top py-main">
    <div class="about-flex">
        <div class="about-image">
            <div class="image-wrapper">
                <img src="assets/images/me.jpg" alt="" class="image">
            </div>
            <a href="#" class="btn-filled">My Resume</a>
        </div>
        <div class="about-main">
            <h1 class="section-title">meet my world</h1>
            <div class="about-content">
                <div class="row">
                    <h4 class="row-title">about me</h4>
                    <p class="row-text">Hello! I'm SINE Oussama, a passionate web developer with a love for turning ideas into digital realities. With 5 years of experience in the field, I've had the privilege of working on a diverse range of projects, from simple websites to complex web applications.</p>
                </div>
                <div class="row">
                    <h4 class="row-title">my journey</h4>
                    <p class="row-text">My journey into web development began when I discovered the power of coding to bring creativity to life. Over the years, I've honed my skills in various programming languages and technologies, including HTML, CSS, JavaScript, and more. I'm always eager to learn and stay up-to-date with the latest industry trends and emerging technologies.</p>
                </div>
                <div class="row">
                    <h4 class="row-title">what do I do</h4>
                    <p class="row-text">I specialize in crafting clean, user-friendly, and responsive websites that not only look great but also function seamlessly across different devices and browsers. I believe that a well-designed website is more than just code; it's a tool that helps businesses connect with their audience and achieve their goals.</p>
                </div>
            </div>
        </div>
    </div>
</div>
