@import url('../../styles.css');

.about-flex {
    display: flex;
}

.about-image {
    flex: 1;
}

.about-image .image-wrapper {
    width: 100%;
    /* height: 100%; */
    position: relative;
    border: 1px solid #1F2937;
    border-radius: 8px;
    overflow: hidden;
}

.about-image .image-wrapper .image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.about-image .btn-filled {
    margin: 30px auto;
}

.about-main {
    flex: 2;
    margin-left: 40px;
}

.about-main .about-content {
    margin-top: 30px;
}

.about-main .about-content .row {
    display: flex;
    margin-bottom: 30px;
}

.about-main .about-content .row:last-child {
    margin-bottom: 0;
}

.about-main .about-content .row .row-title {
    flex: 2;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--sky-blue);
}

.about-main .about-content .row .row-text {
    flex: 8;
}