<!-- <div class="container"> -->
    <nav class="navbar" id="navbar">
        <div class="nav-items" id="nav-items">
            <div class="logo-wrapper">
                <a href="#" class="logo-link">
                    <img src="assets/images/logo.svg" class="logo-image" alt="SINE Oussama">
                </a>
            </div>
            <div class="nav-links-wrapper">
                <ul class="items">
                    <li class="item">
                        <a routerLink="/" class="item-link link-active">home</a>
                    </li>
                    <li class="item">
                        <a routerLink="/about" class="item-link">about</a>
                    </li>
                    <li class="item">
                        <a routerLink="/skills" class="item-link">skills</a>
                    </li>
                    <li class="item">
                        <a routerLink="/portfolio" class="item-link">portfolio</a>
                    </li>
                    <li class="item">
                        <a routerLink="/contact" class="item-link">contact</a>
                    </li>
                </ul>
            </div>
            <div class="social-links-wrapper">
                <div class="social-item">
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="social-item">
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </div>
                <div class="social-item">
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
<!-- </div> -->