<div class="contact dyanmic-margin-top py-main">

    <div class="contact-grid">
        <div class="contact-info">
            <h1 class="section-title">contact me</h1>
            <p class="contact-caption">Let’s connect and explore how I can contribute to your success.</p>

            <div class="contact-row">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="contact-detail">(+212)62-280-9019</div>
            </div>
            <div class="contact-row">
                <div class="icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="contact-detail">sineoussama&#64;gmail.com</div>
            </div>
            <div class="contact-row">
                <div class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="contact-detail">Hey al kassimi Nieghbourhood 2 N° 134 <br>23000, Beni Mellal | Morocco</div>
            </div>
        </div>

        <div class="contact-form">
            <h1 class="section-title">let's talk</h1>
            <form class="form">
                <input type="text" class="form-input" placeholder="Subject">
                <input type="text" class="form-input" placeholder="Name">
                <input type="text" class="form-input" placeholder="Email">
                <textarea class="text-msg" placeholder="your message"></textarea>
                <button type="submit" class="btn-block">send</button>
            </form>
        </div>
    </div>
</div>
