<div class="skills dyanmic-margin-top py-main">
    <h1 class="section-title text-center">compiled knowlage</h1>

    <div class="skills-grid">
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/html.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">HTML 5</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/css.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">CSS 3</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/js.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">JavaScript</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/nodejs.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">Node.js</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/reactjs.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">React.js</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/angular.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">Angular</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/laravel.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">Laravel</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/java.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">Java SE/EE</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
        <div class="skill-wrapper">
            <div class="skill-border">
                <div class="skill-icon-wrapper">
                    <img src="assets/images/icons/mysql.svg" alt="" class="skill-icon">
                </div>
                <div class="skill-label">MySQL</div>
            </div>
            <div class="percentage-circle">
                <div class="percentage">80%</div>
            </div>
        </div>
    </div>

</div>

