<div class="portfolio dyanmic-margin-top py-main">
    <h1 class="section-title text-center">what i've made so far</h1>

    <div class="portfolio-grid mt-50">

        @for (project of projects; track project.id) {
            <div class="card">
                <div class="card-image-wrapper">
                    <img src="assets/images/portfolio/nomssa.png" alt="nomssa" class="card-image">
                </div>
                <h3 class="project-title">{{ project.title }}</h3>
                <div class="project-details">
                    <p class="project-description">{{ project.description }}</p>
                    <a href="#" class="project-link">
                        show 
                    </a>
                </div>
            </div>
        }

        <!-- <div class="card">
            <div class="card-image-wrapper">
                <img src="assets/images/portfolio/nomssa.png" alt="nomssa" class="card-image">
            </div>
            <h3 class="project-title">Nomassa</h3>
            <div class="project-details">
                <p class="project-description">eCommerce website where to sell digital products.</p>
                <a href="#" class="project-link">
                    show 
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-image-wrapper">
                <img src="assets/images/portfolio/robopunk.png" alt="robo punk" class="card-image">
            </div>
            <h3 class="project-title">robo punk</h3>
            <div class="project-details">
                <p class="project-description">Project for minting NFT based on React.js.</p>
                <a href="#" class="project-link">
                    show 
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-image-wrapper">
                <img src="assets/images/portfolio/fylo.png" alt="nomssa" class="card-image">
            </div>
            <h3 class="project-title">Fylo</h3>
            <div class="project-details">
                <p class="project-description">Simple landing page from front-end mentor chalange.</p>
                <a href="#" class="project-link">
                    show 
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-image-wrapper">
                <img src="assets/images/portfolio/diwan-consworld.png" alt="nomssa" class="card-image">
            </div>
            <h3 class="project-title">diwan consworld</h3>
            <div class="project-details">
                <p class="project-description">A website for a consulting and accounting firm.</p>
                <a href="#" class="project-link">
                    show 
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-image-wrapper">
                <img src="assets/images/portfolio/github-finder.png" alt="nomssa" class="card-image">
            </div>
            <h3 class="project-title">github finder</h3>
            <div class="project-details">
                <p class="project-description">React.js app, where you can search for github profiles using github API.</p>
                <a href="#" class="project-link">
                    show 
                </a>
            </div>
        </div> -->
    </div>
</div>
