/* You can add global styles to this file, and also import other style files */
:root {
    --dark-blue: #030712;
    --gray: #1F2937;
    --soft-green: #14B8A6;
    --sky-blue: #2563EB;
    --white: #F9FAFB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-image: url("../public/assets/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--white);
    width: 100%
}

a { text-decoration: none; }
ul { list-style: none; }

.container {
    width: 90%;
    margin: 0 auto;
}

.py-main {
    padding: 50px 0;
}

.text-blue { color: var(--sky-blue); }
.text-green { color: var(--soft-green); }

.hero-btn-links {
    display: flex;
    align-items: center;
}

.btn-bordered,
.btn-filled {
    display: block;
    width: 200px;
    padding: 10px 0;
    font-size: 18px;
    font-weight:600;
    text-align: center;
    text-transform: capitalize;
    border: 1.5px solid var(--soft-green);
    border-radius: 5px;
    transition: all .3s ease;
}

.btn-bordered {
    color: var(--soft-green);
    background: transparent;
}

.btn-bordered:hover {
    color: var(--dark-blue);
    background: var(--soft-green);
}

.btn-filled {
    margin-left: 10px;
    background-color: var(--soft-green);
    color: var(--dark-blue);
}

.btn-filled:hover {
    background-color: transparent;
    color: var(--soft-green);
}

.section-title {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--sky-blue);
    line-height: 1;
}
