<div id="home" class="home">
    
    <div class="hero-center">
        <div class="hero-main-content">
            <h1 class="hero-title">
                Hello I am <br>
                <span class="text-blue">SINE Oussama</span>
            </h1>
            <p class="hero-profile-text">full stack web developer</p>
            <p class="hero-caption">I want to turn my entertainement of creating websites <br> into <span class="text-green">Real Life Projects</span></p>

            <div class="hero-btn-links">
                <a href="#" class="btn-bordered">let's talk</a>
                <a href="#" class="btn-filled">My Resume</a>
            </div>
        </div>
        <div class="hero-main-image">
            image
        </div>
    </div>

</div>
    
